<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LectorQR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LectorQR.Properties.Settings>
            <setting name="TemporadaNumero" serializeAs="String">
                <value>22-23</value>
            </setting>
            <setting name="NumeroDePuerta" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConexionAbonado" serializeAs="String">
                <value>server=(local);database=TarjetaAbonadosLeones1617;User Id=sa;password=sa;Connection Reset=true;Connection Lifetime=120;enlist=true;Min Pool Size=2;Max Pool Size=400;Pooling=true;</value>
            </setting>
            <setting name="ConexionTorniquete" serializeAs="String">
                <value>server=(local);database=TorniqueteLeonesSillas1213;User Id=sa;password=sa;Connection Reset=true;Connection Lifetime=120;enlist=true;Min Pool Size=2;Max Pool Size=400;Pooling=true;</value>
            </setting>
        </LectorQR.Properties.Settings>
    </applicationSettings>
</configuration>